requests
rapidfuzz
faster-whisper
sounddevice
numpy
edge-tts
pygame
langgraph
langchain-core
langchain-google-genai
pydantic
python-dotenv
watchdog
gTTS
soundfile
google-genai
numpy
openwakeword
onnxruntime